doctype html
html
    head
        title Shorten your URLS
        block scripts
        link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' src='/styles/styles.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    body.container
        block content
        footer.footer.font-small.navbar-fixed-bottom.bg-success
            div.footer-copyright.text-center
                h5 AlanJ 2018, Copyright
                a(href="#") www.alanj-online.eu
                
            
        